@model RSVPApp.Models.GuestRespond

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Name:</p>
    @Html.TextBoxFor(c=>c.Name)<br/>
    <p>Email:</p>
    @Html.TextBoxFor(c=>c.Email)<br/>
    <p>Phone:</p>
    @Html.TextBoxFor(c=>c.Phone)<br/>
    <p>Will you show up?:</p>
    @Html.DropDownListFor(c=>c.Attend, new []{
        new SelectListItem(){
            Text = "Yes, I'm going", 
            Value = bool.TrueString
        }, 
        new SelectListItem(){
            Text = "No",
            Value = bool.FalseString
        }
    }, "Choose an option")<br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
}

<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attend" class="control-label"></label>
                <input asp-for="Attend" class="form-control" />
                <span asp-validation-for="Attend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

*@<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
